.grid-container {
  display: flex;
  justify-content: center;
}

.home-gridItem {
  height: auto;
}

/* MOBILE */
@media (max-width: 600px) {
  .home-categoryImg {
    height: 35vh;
    width: 100%;
  }
}

/* TALET & HALF-SCREEN */
@media (min-width: 600) {
  .home-categoryImg {
    height: 60vh;
    width: 100%;
  }
}

/* DESKTOP */
@media (min-width: 900) {
  .home-categoryImg {
    height: 60vh;
    width: 100%;
  }
}
