.grid-container {
  display: flex;
  justify-content: center;
}

/* darken category img and allow text to be in front of img */
.img-blackBackground {
  background-color: black;
  position: relative;
}

.img-container {
  opacity: 0.9;
}

.home-categoryImgText {
  position: relative;
  top: -3rem;
  left: 1rem;
  color: white;

  font-size: 1.2rem;
  font-weight: 500;
}

/* MOBILE */
@media (max-width: 600px) {
  .home-categoryImg {
    height: 35vh;
    width: 100%;
  }

  .home-gridItem {
    height: 35vh;
  }
}

/* TABLET & HALF-SCREEN & DESKTOP */
@media (min-width: 600px) {
  .home-categoryImg {
    height: 60vh;
    width: 100%;
  }
  .home-gridItem {
    height: 60vh;
  }
}


