#aboutus-gridImg{
  width: 100%;
  max-height: 80vh;

  display: flex;
  justify-content: center;

  margin-bottom: 3rem;
  margin-top: 5vh;
}

#aboutUs-img{
  height: 100%;
  object-fit: contain;

}

