#hero-container {
  /* height stipulated in id's hero-container-mobile/desktop with media querys */
  width: 100%;
  position: relative;
  overflow: hidden;

  background-color: black;
}

.hero-img {
  /* width i nmedia querys */
    height: 100%;
    display: block;
    object-fit: cover;
    opacity: 1;
  }

.hero-text-container {
  position: absolute;
  width: 100vw;
  transform: translate(-50%, -300%);
  text-align: center;
}

#hero-button {
  position: absolute;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  background-color: background;

  border-radius: 0;
}

/* MOBILE */
@media (max-width: 600px) {
  #hero-container {
    height: calc(100vh - 64px);
  }

  .hero-img {
    width: auto;
  }

  #hero-title {
    font-size: 2rem;
    font-weight: 500;
    font-family: "Raleway";

    letter-spacing: 1.5vw;
  }

  .hero-text-container {
    top: 65vh;
    left: 50%;
  }

  #hero-button {
    top: 78%;
    left: 50%;

    font-size: 3rem;
  }
}

/* TABLET & DESKTOP */
@media (min-width: 600px) {
  @media (max-width: 900px) {
    #hero-container {
      height: calc(100vh - 64px);
    }
  }
  @media (min-width: 900px) {
    #hero-container {
      height: calc(100vh - 124px);
    }
  }

  .hero-img {
    width: 100%;
  }

  #hero-title {
    font-size: 2rem;
    font-weight: 500;
    font-family: "Raleway";

    letter-spacing: 1rem;
  }

  .hero-text-container {
    top: 92%;
    left: 50%;
  }

  #hero-button {
    top: 85%;
    left: 50%;

    font-size: 1.5rem;
  }
}
