#homeInteriorDesign-heroContainer {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

#homeInteriorDesign-img {
  opacity: 0.9;
}

#img-background {
  position:relative;
  width: 95%;
  background-color: black;
}

#proyects-button{
  position: relative;
  top: -30vh;
  border-radius: 0px;
  z-index: 10;
  font-weight: 500;
  font-family: Playfair;
  text-transform: capitalize;
}

#projects-heroText{
  font-family: Raleway;
  color: white;
  font-size: 2rem;
  position: relative;
  top: -60vh;
  z-index: 10;
}
#proyects-button:hover{
  background-color: white;
}
